@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
html, body, *{
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

:root{
    /* --background-color: #010121; */
    --background-color: #000013;
    --background-color-2: #020c30;
    --text-color: #31e981;
    --text-color-2: rgb(189, 184, 184);
    --secondary: #000490;
    --font-family: 'Quicksand', sans-serif;
}
